<div class="container">
  <form action="/dashboard" method="POST">
    <input type="text" name="group" placeholder="Group Name" />
    <input type="text" name="description" placeholder="Description" />

    <button class="btn btn-lg upload-btn" type="button">Upload File</button>
    <input type="file" name="upload" id="upload-input" style="display: none;" />

    <button type="submit">Add Group</button>
  </form>
</div>
