<main>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div
          class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 register-form"
        >
          <form action="/" method="post" class="form-group">
            <% if(hasErrors) {%> <% _.forEach(messages, function(error){ %>
            <div class="alert alert-danger text-center">
              <a href="#" class="close" data-dismiss="alert" aria-label="close"
                >&times;</a
              >
              <%= error %><br />
            </div>
            <% }) %> <% } %>
            <div class="input-container">
              <i class="far fa-envelope icon"></i>
              <input
                type="email"
                name="email"
                class="inp"
                placeholder="Email"
              />
            </div>
            <div class="input-container">
              <i class="fas fa-lock icon"></i>
              <input
                type="password"
                name="password"
                class="inp"
                placeholder="Password"
              />
            </div>
            <button type="submit" class="btn-type-two btn">Login</button>
          </form>
        </div>
      </div>

      <div class="row login-links-block">
        <div class="login-links col-md-12">
          <a href="/forgot">Forgot password?</a>
        </div>
        <div class="login-links col-md-12">
          <a href="/register">Register</a>
        </div>
      </div>
    </div>
  </div>
</main>
