<main>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 col-12">
          <div class="scroll">
            <div class="icon-bar">
              <div>
                <a href="#" class="side-menu"
                  ><i class="fas fa-align-justify"></i
                ></a>
                <a href="#"
                  ><img src="img/User_Avatar.png" alt="user_avatar"
                /></a>
                <a href="#"
                  ><img src="img/User_Avatar.png" alt="user_avatar"
                /></a>
                <a href="#"
                  ><img src="img/User_Avatar.png" alt="user_avatar"
                /></a>
                <a href="#"
                  ><img src="img/User_Avatar.png" alt="user_avatar"
                /></a>
                <a href="#"
                  ><img src="img/User_Avatar.png" alt="user_avatar"
                /></a>
                <a href="#"
                  ><img src="img/User_Avatar.png" alt="user_avatar"
                /></a>
                <a href="#"
                  ><img src="img/User_Avatar.png" alt="user_avatar"
                /></a>
                <a href="#"
                  ><img src="img/User_Avatar.png" alt="user_avatar"
                /></a>
                <a href="#"
                  ><img src="img/User_Avatar.png" alt="user_avatar"
                /></a>
                <a href="#"
                  ><img src="img/User_Avatar.png" alt="user_avatar"
                /></a>
                <a href="#"
                  ><img src="img/User_Avatar.png" alt="user_avatar"
                /></a>
                <a href="#"
                  ><img src="img/User_Avatar.png" alt="user_avatar"
                /></a>
                <a href="#"
                  ><img src="img/User_Avatar.png" alt="user_avatar"
                /></a>
                <a href="#"
                  ><img src="img/User_Avatar.png" alt="user_avatar"
                /></a>
                <a href="#"
                  ><img src="img/User_Avatar.png" alt="user_avatar"
                /></a>
                <a href="#"
                  ><img src="img/User_Avatar.png" alt="user_avatar"
                /></a>
                <a href="#"
                  ><img src="img/User_Avatar.png" alt="user_avatar"
                /></a>
                <a href="#"
                  ><img src="img/User_Avatar.png" alt="user_avatar"
                /></a>
                <a href="#"
                  ><img src="img/User_Avatar.png" alt="user_avatar"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-10 col-lg-10 col-md-9">
          <div class="index-body">
            <section class="search-input">
              <div class="search-block">
                <form class="search-form">
                  <input type="txt" placeholder=" Search.." />
                  <button type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
              </div>
            </section>
            <section class="content-adress-block">
              <div class="addressee-block">
                <div class="addressee-content">
                  <img src="img/User_Avatar.png" alt="user_avatar" />
                  <p>Name Surname</p>
                  <div class="online-checkbox">
                    <div class="online-checkbox-back">
                      <div class="online-checkbox-front"></div>
                    </div>
                    <p>online</p>
                  </div>

                  <!-- start. block deletion of messages -->
                  <div class="delete-messages-block">
                    <div class="delete-messages-button">
                      <button class="btn-delete" type="button">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </div>
                    <div class="check-all-messages">
                      <label class="container-check-all">
                        <input type="checkbox" />
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                  <!-- end. block deletion of messages -->
                </div>
              </div>
            </section>
            <section class="content-message-block">
              <div class="messages-block">
                <div class="content-messages">
                  <div class="input-message">
                    <div class="msg">
                      <p class="text">
                        Lorem ipsum dolor sit amet.
                      </p>
                      <p class="time">11:00</p>
                    </div>
                  </div>
                  <div class="input-message">
                    <div class="msg">
                      <p class="text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Consectetur, neque obcaecati quis laudantium ut
                        accusamus quasi quia quaerat eligendi error.
                      </p>
                      <p class="time">11:00</p>
                    </div>
                  </div>
                  <div class="input-message">
                    <div class="msg">
                      <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Numquam, autem.
                      </p>
                      <p class="time">11:00</p>
                    </div>
                  </div>

                  <!-- start output messages -->
                  <div class="output-message">
                    <div class="msg">
                      <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Numquam, autem.
                      </p>
                      <p class="time">11:00</p>
                    </div>
                  </div>
                  <!-- end output messages -->
                </div>
              </div>
            </section>
            <section class="content-input-form">
              <div class="input-messages">
                <div class="input-content-microfone">
                  <button class="microphone content-btn" type="submit">
                    <i class="fas fa-microphone"></i>
                  </button>
                </div>

                <div class="send-message">
                  <form class="messages-form">
                    <input type="txt" placeholder=" Write a message..." />
                    <button type="submit" class="content-btn">
                      <i class="fas fa-paperclip"></i>
                    </button>
                  </form>
                </div>
                <button type="submit" class="btn-type-one btn-send-content">
                  Send
                </button>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
