@import "../mixins/font.scss";
@import "../partials/colors.scss";
@import "../partials/fonts.scss";


.inp {
    @include font(14px, $font-regular, $font-color-primary-1);
    padding: 0 15px 0 15px;
    line-height: 35px;
    background-color: $bg-color-input-1;
    border: 1px solid $border-color-input-1;
    border-radius: 5px;
    color: $font-color-primary-1;
    transition: all 0.3s;
    &:hover{
        background-color: $bg-color-input-2;
    }
    &:focus{
        outline: none;
        box-shadow: 0 0 7px $border-color-input-3;
    }
    &:required{
        outline: none;
        box-shadow: 0 0 7px $border-color-input-4;
    }
    &:valid{
        outline: none;
        box-shadow: 0 0 7px $border-color-input-5;
    }
}