<section class="index-body">
  <!-- start search form -->
  <div class="search-block">
    <form class="search-form">
      <input type="txt" placeholder=" Search.." />
      <button type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
  </div>
  <!-- end search form -->

  <!-- start addressee-block -->
  <div class="addressee-block">
    <div class="addressee-content col-md">
      <!-- <div class="addressee-data">
        <img src="../img/User_Avatar.png" alt="user_avatar" />
        <p>Name Surname</p>
      </div> -->
      <img src="../img/User_Avatar.png" alt="user_avatar" />
      <p>Name Surname</p>
      <div class="online-checkbox">
        <div class="online-checkbox-back">
          <div class="online-checkbox-front"></div>
        </div>
        <p>online</p>
      </div>

      <!-- start. block deletion of messages -->
      <div class="delete-messages-block col-md-8">
        <div class="delete-messages-button">
          <button class="btn-delete" type="button">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
        <div class="check-all-messages">
          <label class="container-check-all">
            <input type="checkbox" />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <!-- end. block deletion of messages -->
    </div>
  </div>
  <!-- end addressee-block -->

  <!-- start messages-block -->
  <div class="messages-block">
    <div class="content-messages">
      <div class="input-message">
        <p>
          Hello Bill!!!
          <span class="time-right">11:00</span>
        </p>
      </div>
      <div class="input-message">
        <p>
          How are you?
          <span class="time-right">11:00</span>
        </p>
      </div>
      <div class="input-message">
        <p>
          Bill!!
          <span class="time-right">11:00</span>
        </p>
      </div>

      <!-- start output messages -->
      <div class="output-message">
        <p>
          Hello Tommy!!!
          <span class="time-right">11:00</span>
        </p>
      </div>
      <!-- <div class="output-message">
        <p>
          Hello Tommy!!!
          <time>12:33</time>
        </p>
      </div>
      <div class="output-message">
        <p>
          Hello Tommy!!!
          <time>12:33</time>
        </p>
      </div> -->
      <!-- end output messages -->
    </div>
  </div>
  <!-- end messages-block -->

  <!-- start input-messages-block -->
  <div class="input-messages">
    <div class="input-messages-content">
      <button class="microphone" type="button">
        <i class="fa fa-microphone" aria-hidden="true"></i>
      </button>

      <form class="messages-form">
        <input type="txt" placeholder=" Write a message..." />
        <button type="submit">
          <i class="fa fa-paperclip" aria-hidden="true"></i>
        </button>
      </form>

      </button>
    </div>
  </div>
  <!-- end input-messages-block -->
</section>
