<main>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 register-form">
                    <form action="" class="form-group">
                        <div class="input-container">
                            <i class="far fa-envelope icon"></i>
                            <input type="email" class="inp" placeholder="Email">
                        </div>
                        <div class="input-container">
                            <i class="fas fa-lock icon"></i>
                            <input type="password" class="inp" placeholder="Password">
                        </div>
                        <div class="input-container">
                            <i class="fas fa-key icon"></i>
                            <input type="password" class="inp" placeholder="Confirm password">
                        </div>
                        <button type="submit" class="btn-type-two btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>