<div class="scroll">
    <div class="icon-bar">
        <div>  
            <a href="#" class="side-menu"><i class="fas fa-align-justify"></i></a>
            <a href="#"><img src="../img/User_Avatar.png" alt="user_avatar"></a>
            <a href="#"><img src="../img/User_Avatar.png" alt="user_avatar"></a>
            <a href="#"><img src="../img/User_Avatar.png" alt="user_avatar"></a>
            <a href="#"><img src="../img/User_Avatar.png" alt="user_avatar"></a>
            <a href="#"><img src="../img/User_Avatar.png" alt="user_avatar"></a>
            <a href="#"><img src="../img/User_Avatar.png" alt="user_avatar"></a>
            <a href="#"><img src="../img/User_Avatar.png" alt="user_avatar"></a>
            <a href="#"><img src="../img/User_Avatar.png" alt="user_avatar"></a>
            <a href="#"><img src="../img/User_Avatar.png" alt="user_avatar"></a>
            <a href="#"><img src="../img/User_Avatar.png" alt="user_avatar"></a>
            <a href="#"><img src="../img/User_Avatar.png" alt="user_avatar"></a>
            <a href="#"><img src="../img/User_Avatar.png" alt="user_avatar"></a>
            <a href="#"><img src="../img/User_Avatar.png" alt="user_avatar"></a>
            <a href="#"><img src="../img/User_Avatar.png" alt="user_avatar"></a>
            <a href="#"><img src="../img/User_Avatar.png" alt="user_avatar"></a>
            <a href="#"><img src="../img/User_Avatar.png" alt="user_avatar"></a>
            <a href="#"><img src="../img/User_Avatar.png" alt="user_avatar"></a>
            <a href="#"><img src="../img/User_Avatar.png" alt="user_avatar"></a>
            <a href="#"><img src="../img/User_Avatar.png" alt="user_avatar"></a>  
        </div>  
    </div>
</div>

