/*Bg colors*/
$bg-color-primary-1 : #273142;
$bg-color-primary-2 : #1b2431;

/*Input colors*/
$bg-color-input-1: #222c3c;
$border-color-input-1: #313d4f;
$bg-color-input-2: #273244;
$border-color-input-2: #313d4f;
$bg-color-input-3: #273244;
$border-color-input-3: #1b92ed;
$bg-color-input-4: #222c3c;
$border-color-input-4: #ed1c24;
$bg-color-input-5: #222c3c;
$border-color-input-5: #36af47;

/*Text colors*/
$font-color-primary-1: #ffffff;
$font-color-primary-2: #7f8fa4;
$font-color-primary-3: #6b727d;
$font-color-primary-4: #5d6470;
$font-color-primary-5: #2ea2f8;
$font-color-primary-6: #354052;
$font-color-description: #7f8fa4;

/*Button colors*/
$bg-color-btn-success-1 : #34aa44 ;
$bg-color-btn-success-2 : #39b54a ;
$bg-color-btn-blue-1: #1991eb ;
$bg-color-btn-blue-2: #2ca0f7 ;
$bg-color-btn-gray: #273142;
$border-color-btn-gray:#313d4f;
$bg-color-btn-violet-1:#6b47da ;
$bg-color-btn-violet-2:#8261e6 ;
$bg-color-btn-error-1:#dd171e ;
$bg-color-btn-error-2:#f85258 ;
$bg-color-btn-warning-1:#f76d1c ;
$bg-color-btn-warning-2:#f7971c ;
$bg-color-btn-success-hover-1 : #1e930b  ;
$bg-color-btn-success-hover-2 : #1e9d09  ;
$bg-color-btn-blue-hover-1: #2184d0  ;
$bg-color-btn-blue-hover-2: #1584d7  ;
$bg-color-btn-gray-hover: #2a3546;
$bg-color-btn-violet-hover-1:#613cd0  ;
$bg-color-btn-violet-hover-2:#7251d5  ;
$bg-color-btn-error-hover-1:#d1171e  ;
$bg-color-btn-error-hover-2:#f14c52  ;
$bg-color-btn-warning-hover-1:#ea6211  ;
$bg-color-btn-warning-hover-2:#f0921a ;
$bg-color-btn-success-active-1 : #1a740b;
$bg-color-btn-success-active-2 : #187a08;
$bg-color-btn-blue-active-1: #196cab;
$bg-color-btn-blue-active-2: #0c73c0;
$bg-color-btn-gray-active: #323e50;
$border-color-btn-gray:#313d4f;
$bg-color-btn-violet-active-1:#5632c4;
$bg-color-btn-violet-active-2:#714edc;
$bg-color-btn-error-active-1:#be0d14;
$bg-color-btn-error-active-2:#ec4349;
$bg-color-btn-warning-active-1:#e65a08  ;
$bg-color-btn-warning-active-2:#e98a12  ;

/*Celects*/
$bg-color-select-1: #273142;
$border-color-select-1: #313d4f;
$bg-color-select-2: #273142;
$border-color-select-2: #1b92ed;

/*Dropdowns*/
$bg-color-dropd-1: #273142;
$border-color-dropd-1: #313d4f;
$bg-color-dropd-2: #222c3c;
$border-color-dropd-2: #313d4f;
$bg-color-dropd-3: #313d4f;

/*Checkboxes*/
$bg-color-chbox-1: #1b2431;
$border-color-chbox-1: #313d4f;
$bg-color-chbox-press-1_1: #29b311 ;
$bg-color-chbox-press-1_2: #57d841 ; 

/*Label*/
$bg-color-label-1: #36af47;
$bg-color-label-2: #1991eb;
$bg-color-label-3: #ed1c24;
$bg-color-label-4: #516173;
$bg-color-label-5: #f7981c;
$bg-color-label-6: #dfe1e5;
$bg-color-label-7: #313d4f;


/*Notifications*/
$bg-color-nt-success: #36af47;
$bg-color-nt-massege: #1991eb;
$bg-color-nt-warning: #f7981c;
$bg-color-nt-error: #ed1c24;
$bg-color-notifi-1: #ff7800;


/*Tables*/
$bg-color-tables-1:#273142;
$border-color-tables-1: #313d4f;

/*Lists*/
$bg-color-lists-1: #9299a3;

