@font-face {
    font-family: "fontawesomeRegular";
    src: url("../fonts/font-awesome/fontawesome-webfont.eot");
    src: url("../fonts/font-awesome/fontawesome-webfont.eot")
        format("embedded-opentype"),
      url("../fonts/font-awesome/fontawesome-webfont.woff2") format("woff2"),
      url("../fonts/font-awesome/fontawesome-webfont.woff") format("woff"),
      url("../fonts/font-awesome/fontawesome-webfont.ttf") format("truetype"),
      url("../fonts/font-awesome/fontawesome-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "sourceSansProBlack";
    src: url("../../fonts/SourceSansPro-Black/sourcesanspro-black-webfont.eot");
    src: url("../../fonts/SourceSansPro-Black/sourcesanspro-black-webfont.eot") format("embedded-opentype"),
      url("../../fonts/SourceSansPro-Black/sourcesanspro-black-webfont.woff2") format("woff2"),
      url("../../fonts/SourceSansPro-Black/sourcesanspro-black-webfont.woff") format("woff"),
      url("../../fonts/SourceSansPro-Black/sourcesanspro-black-webfont.ttf") format("truetype"),
      url("../../fonts/SourceSansPro-Black/sourcesanspro-black-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "sourceSansProBlackItalic";
    src: url("../../fonts/SourceSansPro-BlackItalic/sourcesanspro-blackitalic-webfont.eot");
    src: url("../../fonts/SourceSansPro-BlackItalic/sourcesanspro-blackitalic-webfont.eot") format("embedded-opentype"),
      url("../../fonts/SourceSansPro-BlackItalic/sourcesanspro-blackitalic-webfont.woff2") format("woff2"),
      url("../../fonts/SourceSansPro-BlackItalic/sourcesanspro-blackitalic-webfont.woff") format("woff"),
      url("../../fonts/SourceSansPro-BlackItalic/sourcesanspro-blackitalic-webfont.ttf") format("truetype"),
      url("../../fonts/SourceSansPro-BlackItalic/sourcesanspro-blackitalic-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "sourceSansProBold";
    src: url("../../fonts/SourceSansPro-Bold/sourcesanspro-bold-webfont.eot");
    src: url("../../fonts/SourceSansPro-Bold/sourcesanspro-bold-webfont.eot") format("embedded-opentype"),
      url("../../fonts/SourceSansPro-Bold/sourcesanspro-bold-webfont.woff2") format("woff2"),
      url("../../fonts/SourceSansPro-Bold/sourcesanspro-bold-webfont.woff") format("woff"),
      url("../../fonts/SourceSansPro-Bold/sourcesanspro-bold-webfont.ttf") format("truetype"),
      url("../../fonts/SourceSansPro-Bold/sourcesanspro-bold-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "sourceSansProBoldItalic";
    src: url("../../fonts/SourceSansPro-BoldItalic/sourcesanspro-bolditalic-webfont.eot");
    src: url("../../fonts/SourceSansPro-BoldItalic/sourcesanspro-bolditalic-webfont.eot") format("truetype"),
      url("../../fonts/SourceSansPro-BoldItalic/sourcesanspro-bolditalic-webfont.woff2") format("woff2"),
      url("../../fonts/SourceSansPro-BoldItalic/sourcesanspro-bolditalic-webfont.woff") format("woff"),
      url("../../fonts/SourceSansPro-BoldItalic/sourcesanspro-bolditalic-webfont.ttf") format("truetype"),
      url("../../fonts/SourceSansPro-BoldItalic/sourcesanspro-bolditalic-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "sourceSansProExtraLight";
    src: url("../../fonts/SourceSansPro-ExtraLight/sourcesanspro-extralight-webfont.eot");
    src: url("../../fonts/SourceSansPro-ExtraLight/sourcesanspro-extralight-webfont.eot") format("embedded-opentype"),
      url("../../fonts/SourceSansPro-ExtraLight/sourcesanspro-extralight-webfont.woff2") format("woff2"),
      url("../../fonts/SourceSansPro-ExtraLight/sourcesanspro-extralight-webfont.woff") format("woff"),
      url("../../fonts/SourceSansPro-ExtraLight/sourcesanspro-extralight-webfont.ttf") format("truetype"),
      url("../../fonts/SourceSansPro-ExtraLight/sourcesanspro-extralight-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "sourceSansProExtraLightItalic";
    src: url("../../fonts/SourceSansPro-ExtraLightItalic/sourcesanspro-extralightitalic-webfont.eot");
    src: url("../../fonts/SourceSansPro-ExtraLightItalic/sourcesanspro-extralightitalic-webfont.eot") format("embedded-opentype"),
      url("../../fonts/SourceSansPro-ExtraLightItalic/sourcesanspro-extralightitalic-webfont.woff2") format("woff2"),
      url("../../fonts/SourceSansPro-ExtraLightItalic/sourcesanspro-extralightitalic-webfont.woff") format("woff"),
      url("../../fonts/SourceSansPro-ExtraLightItalic/sourcesanspro-extralightitalic-webfont.ttf") format("truetype"),
      url("../../fonts/SourceSansPro-ExtraLightItalic/sourcesanspro-extralightitalic-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
  font-family: "sourceSansProItalic";
  src: url("../../fonts/SourceSansPro-Italic/sourcesanspro-italic-webfont.eot");
  src: url("../../fonts/SourceSansPro-Italic/sourcesanspro-italic-webfont.eot") format("embedded-opentype"),
    url("../../fonts/SourceSansPro-Italic/sourcesanspro-italic-webfont.woff2") format("woff2"),
    url("../../fonts/SourceSansPro-Italic/sourcesanspro-italic-webfont.woff") format("woff2"),
    url("../../fonts/SourceSansPro-Italic/sourcesanspro-italic-webfont.ttf") format("truetype"),
    url("../../fonts/SourceSansPro-Italic/sourcesanspro-italic-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sourceSansProLight";
  src: url("../../fonts/SourceSansPro-Light/sourcesanspro-light-webfont.eot");
  src: url("../../fonts/SourceSansPro-Light/sourcesanspro-light-webfont.eot") format("embedded-opentype"),
    url("../../fonts/SourceSansPro-Light/sourcesanspro-light-webfont.woff2") format("woff2"),
    url("../../fonts/SourceSansPro-Light/sourcesanspro-light-webfont.woff") format("woff"),
    url("../../fonts/SourceSansPro-Light/sourcesanspro-light-webfont.ttf") format("truetype"),
    url("../../fonts/SourceSansPro-Light/sourcesanspro-light-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sourceSansProLightItalic";
  src: url("../../fonts/SourceSansPro-LightItalic/sourcesanspro-lightitalic-webfont.eot");
  src: url("../../fonts/SourceSansPro-LightItalic/sourcesanspro-lightitalic-webfont.eot") format("embedded-opentype"),
    url("../../fonts/SourceSansPro-LightItalic/sourcesanspro-lightitalic-webfont.woff2") format("woff2"),
    url("../../fonts/SourceSansPro-LightItalic/sourcesanspro-lightitalic-webfont.woff") format("woff"),
    url("../../fonts/SourceSansPro-LightItalic/sourcesanspro-lightitalic-webfont.ttf") format("truetype"),
    url("../../fonts/SourceSansPro-LightItalic/sourcesanspro-lightitalic-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sourceSansProRegular";
  src: url("../../fonts/SourceSansPro-Regular/sourcesanspro-regular-webfont.eot");
  src: url("../../fonts/SourceSansPro-Regular/sourcesanspro-regular-webfont.eot") format("embedded-opentype"),
    url("../../fonts/SourceSansPro-Regular/sourcesanspro-regular-webfont.woff2") format("woff2"),
    url("../../fonts/SourceSansPro-Regular/sourcesanspro-regular-webfont.woff") format("woff"),
    url("../../fonts/SourceSansPro-Regular/sourcesanspro-regular-webfont.ttf") format("truetype"),
    url("../../fonts/SourceSansPro-Regular/sourcesanspro-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sourceSansProSemiBold";
  src: url("../../fonts/SourceSansPro-Semibold/sourcesanspro-semibold-webfont.eot");
  src: url("../../fonts/SourceSansPro-Semibold/sourcesanspro-semibold-webfont.eot") format("embedded-opentype"),
    url("../../fonts/SourceSansPro-Semibold/sourcesanspro-semibold-webfont.woff2") format("woff2"),
    url("../../fonts/SourceSansPro-Semibold/sourcesanspro-semibold-webfont.woff") format("woff"),
    url("../../fonts/SourceSansPro-Semibold/sourcesanspro-semibold-webfont.ttf") format("truetype"),
    url("../../fonts/SourceSansPro-Semibold/sourcesanspro-semibold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sourceSansProSemiBoldItalic";
  src: url("../../fonts/SourceSansPro-SemiboldItalic/sourcesanspro-semibolditalic-webfont.eot");
  src: url("../../fonts/SourceSansPro-SemiboldItalic/sourcesanspro-semibolditalic-webfont.eot") format("embedded-opentype"),
    url("../../fonts/SourceSansPro-SemiboldItalic/sourcesanspro-semibolditalic-webfont.woff2") format("woff2"),
    url("../../fonts/SourceSansPro-SemiboldItalic/sourcesanspro-semibolditalic-webfont.woff") format("woff"),
    url('../../fonts/SourceSansPro-SemiboldItalic/sourcesanspro-semibolditalic-webfont.ttf') format("truetype"),
    url("../../fonts/SourceSansPro-SemiboldItalic/sourcesanspro-semibolditalic-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}


  $font-awesome: "fontawesomeRegular";
  $font-black: "sourceSansProBlack";
  $font-blackItalic: "sourceSansProBlackItalic";
  $font-bold: "sourceSansProBold";
  $font-boldItalic: "sourceSansProBoldItalic";
  $font-extraLight: "sourceSansProExtraLight";
  $font-extraLightItalic: "sourceSansProExtraLightItalic";
  $font-italic: "sourceSansProItalic";
  $font-light: "sourceSansProLight";
  $font-lightItalic: "sourceSansProLightItalic";
  $font-regular: "sourceSansProRegular";
  $font-semiBold: "sourceSansProSemibold";
  $font-semiBoldItalic: "sourceSansProSemiboldItalic";